* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Slab', serif;
}
html{
    scroll-behavior: smooth;
}
/* navigation section */
#navbar {
    display: flex;
    align-items: center;
    position: relative;
    top: 0 px;
    left: 0 px;
    right: 0 px;
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0 px;
    left: 0 px;
    z-index: -1;

}

#logo {
    margin: 10px 34px;
    /* padding: 10px 34px; */
    /* border: 1px solid rgb(169, 165, 165);
    border-radius: 4px; */
}

#logo img {
    height: 70px;
    border-radius: 50%;
    margin: 3px 6px;
}

ul {
    display: flex;
}

ul li {
    list-style: none;
}

ul li a {
    padding: 3px 16px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    transition: background-color 0.15s;
}

ul li a:hover {
    background-color: rgb(69, 68, 68);
}


/* home sec styling */
#home {
    display: flex;
    flex-direction: column;
    padding: 0px 200px;
    justify-content: center;
    align-items: center;
    height: 480px;
    text-align: center;
    color: rgb(202, 202, 202);
}

.disclaimer {
    font-size: 12px;
    margin-top: 50px;
    background-color: rgba(54, 54, 54, 0.9);
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
}

#home p {
    font-size: 20px;
    margin-bottom: 8px;


}

#home::before {
    content: "";
    background: url('../img/bghome.jpg') no-repeat center center / cover;
    position: absolute;
    height: 570px;
    width: 100%;
    top: 0px;
    opacity: 0.9;
    z-index: -1;
}


/* services section */
#services-section {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

}

#services {
    display: flex;
    justify-content: space-evenly;
    margin: 34px;
}

#services .box {
    border: none;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 16px;
    /* width: 420px; */
    /* box-sizing: border-box; */
    background-color: rgb(243, 240, 240);
}

#services .box img {
    height: 150px;
   
}

/* project section */
#contact-section {
    display: flex;
    flex-direction: column;
   
    height: 385px;
    color: rgb(202, 202, 202);
}

#contact-section::before {
    content: "";
    background: url('../img/bgprojects.jpg') no-repeat center center /cover;
    opacity: 0.9;
    height: 388px;
    width: 100%;
    position: absolute;
    z-index: -1;
}

#contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;


}

#follow-us {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

#social-links {
    display: flex;
    flex-direction: column;


}

#social-links a {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 5px;
    color: rgb(202, 202, 202);

}

#social-links a:hover {
    text-decoration: underline;
}

.social-link-icon img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    justify-content: contain;
}

#listen-to {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid whitesmoke;
    padding: 20px;

}

#blesshead {
    font-size: 2rem;
    opacity: 0.9;
}

.listen-to-link-icon {
    padding: 5px 10px;
}

.listen-to-link-icon img {
    height: 30px;
}

/* form */

#form-container input,
#form-container textarea {
    display: block;
    width: 90%;
    margin-bottom: 7px;
    padding: 8px 10px;

}


#form-container input[type="submit"] {
    color: aliceblue;
    background-color: #363636;
    padding: 5px 10px;
    border: none;
    width: 100%;
    cursor: pointer;
    transition: 0.15s;


}

#form-container input:focus,
#form-container textarea:focus {
    outline: none;

}

#form-container input[type="submit"]:hover {
    background-color: aliceblue;
    color: #363636;
    box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.25);
}

.h-primary {
    font-size: 40px;
    padding: 12px;
    text-align: center;

}

.h-ternary {
    font-size: 18px;
    padding: 3px;
    /* text-align: center; */
    font-family: 'Roboto Slab', serif;
}

.h-secondary {
    font-size: 20px;
    padding: 12px;

}

.btn {
    background-color: rgba(0, 0, 0, 0.25);
    border: 1px solid gray;
    color: rgb(202, 202, 202);
    padding: 8px 12px;
    border-radius: 4px;
    margin-top: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: background-color 0.15s, border-color 0.15s, color 0.15s;
}

.btn:hover {

    background-color: grey;
    border-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0.75);
}

.btn:active {
    opacity: 0.95;
}

.txt-center {
    text-align: center;
}

footer {
    background-color: rgb(6, 6, 6);
    color: white;
    padding: 9px 20px;
    position: relative;
    z-index: 1;
    bottom: 0;
}
